@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1f2222;
  --secondary-color: #2b9dac;
  --white: #ffffff;
  --black: black;
  --red: red;
  --orange: orange;
  --green: lightgreen;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
}

.film {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  position: relative;
  overflow: hidden;
}

.film img {
  width: 100%;
}

.film-info {
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
  height: 100px;
}

.film-info h3 {
  margin-top: 0;
  font-size: 16px;
}

.film-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.film-info span.green {
  color: var(--green);
}

.film-info span.orange {
  color: var(--orange);
}

.film-info span.red {
  color: var(--red);
}

.details {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  padding: 1rem;
  max-height: 120%;
  transform: translateY(120%);
  transition: transform 0.3s ease-in;
}

.film:hover .details {
  transform: translateY(0);
}

.details h3 {
  margin-top: 0;
  font-size: 16px;
  color: var(--black);
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.title-img {
  width: 250px;
  margin-left: 20px;
}

.row2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  padding-left: 5px;
}

.title {
  text-transform: uppercase;
  font-size: 48px;
  color: var(--white);
}